.corpo {
    margin: 0;
    height: 2000px;
}

.menu {
    position: absolute;
    background-image: linear-gradient(to bottom, #ff0000, #690101);
    margin: 0px;
    top: 15px;
    left: 5%;
    width: 90%;
    height: 90px;
    border-radius: 10px;

}


.menu2 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logoFia {
    position: absolute;
    top: 18px;

    width: 60px;
    height: 30px;

    margin-left: 10%;

}

.tituloMenu {
    font-size: medium;
    color: aliceblue;


    text-align: center;

}

.f1_logo {
    position: absolute;
    top: 6px;
    right: 10%;


}

.img1 {
    width: 90px;
    height: 70px;
}

.container1 {
    background: linear-gradient(#fff, #dfdcdc);
    position: absolute;
    top: 120px;
    border-radius: 10px;
    left: 5%;
    width: 45%;
    height: 600px;
}

.container1:hover {

    box-shadow: 8px 8px 8px 3px rgba(112, 134, 150, 0.2);
    border: 2px solid rgb(90, 0, 0);
    width: 47%;
    height: 650px;
    transition-duration: 1s;


}
.container1:hover, .container1:focus{
    transition-duration: 1s;
}

.container2 {
    background: linear-gradient(#fff, #dfdcdc);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    right: 5%;
    height: 600px;
}

.container2:hover {
    width: 47%;
    height: 650px;
    box-shadow: 8px 8px 8px 3px rgba(112, 134, 150, 0.2);
    border: 2px solid rgb(68, 4, 4);
    transition-duration: 1s;


}

.container3 {
    background: linear-gradient(#fff, #dfdcdc);
    border-radius: 10px;
    position: relative;
    top: 1200px;
    height: 1500px;
    left: 5%;
    right: 5%;
    width: 90%;
    border-left: 2.5px solid #ff5e00;
    border-right: 2.5px solid #ff5e00;
}

.container3:hover {

    transition-duration: 1s;
    

}


.expandido {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #940000;
    transition-duration: 1s;
}


.container1, .container2 {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: center;
    width: 42%;
    height: 600px;
    border: 0.1px solid #ff5e00;
    cursor: pointer;
}

.tituloContainer {
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid #690101;
    border-right: 10px solid #690101;
    border-bottom: 2px solid #690101;
}

.faixa {
    position: absolute;
    top: 800px;
    height: 400px;
    width: 100%;
    background-color: #38383f;
    background-image: url('../img/rua2.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: crosshair;
    transition-duration: 2s;
    text-align: center;

}

.formula1 {
    position: relative;
    top: -15%;
    opacity: 0;
    font-size: 120px;
    color: rgb(141, 0, 0);
    transition-duration: 2s;
    transition-delay: 2s;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #fff;
}

.carro {
    position: absolute;
    width: 15%;
    left: 0%;
    top: 45%;
    height: 60px;
    margin: 20px;
    transition-duration: 4s;
    cursor: wait;

}
.explosao {
    transition-duration: 2s;
    width: 50%;
    height: 70%;
    
}

.logounipar {
    position: relative;
    top: -28%;
    left: 40%;
    width: 20%;
    height: 20%;
    opacity: 0;
    transition-duration: 2s;
    transition-delay: 2s;
}




.footer {
    position: absolute;
    top: 2px;
    top: 2800px;
    background-color: #b8b8b8;
    width: 100%;
    height: 70px;
    text-align: center;
    
}



.imglogos{
    width: 60px;
    height: 45px;
}

.tbequipes{
    text-align: center;
    width: 90%;
    height: 60%;
}

.tbpilotos{
    text-align: center;
    width: 90%;
    height: 60%;
}

.container3tb1{
    position: absolute;
    text-align: center;
    top: 8%;
    left: 5%;
    width: 40%;
    height: 60%;
}
.tbetapa1{
    border: 2px solid black;
    width: 50%;
}
.tbetapa1 td{
    padding: 0;
    margin: 0;
    border: 1px solid #ff5e00;
}


.container3tb2{
    position: absolute;
    text-align: center;
    top: 8%;
    left: 40%;
    width: 40%;
    height: 60%;
}
.tbetapa2{
    border: 2px solid black;
    width: 50%;
}
.tbetapa2 td{
    padding: 0;
    margin: 0;
    border: 1px solid #ff5e00;
}


.container3tb3{
    position: absolute;
    text-align: center;
    top: 8%;
    right: -15%;
    width: 40%;
    height: 60%;
}
.tbetapa3{
    border: 2px solid black;
    width: 50%;
}
.tbetapa3 td{
    padding: 0;
    margin: 0;
    border: 1px solid #ff5e00;
}

.container3tb4{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 5%;
    width: 40%;
    height: 60%;
}
.tbequipes1{
    border: 2px solid black;
    width: 50%;
}
.tbequipes1 td{
    padding: 0;
    margin: 0;
    border: 1px solid #ff5e00;
}


.container3tb5{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 40%;
    width: 40%;
    height: 60%;
}
.tbequipes2{
    border: 2px solid black;
    width: 50%;
}
.tbequipes2 td{
    padding: 0;
    margin: 0;
    border: 1px solid #ff5e00;
}


.container3tb6{
    position: absolute;
    text-align: center;
    top: 30%;
    right: -15%;
    width: 40%;
    height: 60%;
}
.tbequipes3{
    font-size: 15px;
    border: 2px solid black;
    width: 50%;
}

.tbequipes3 td{
    padding: 0;
    margin: 0;
    border: 1px solid #ff5e00;
}


.tabelaPilotos{
    position: absolute;
    left: 20%;
    top: 60%;
}